[Unit]
Description=Immich photo and video management service
Documentation=https://immich.app/docs/overview/introduction
After=postgresql.service valkey.service
Requires=postgresql.service valkey.service

[Service]
Type=simple
User=immich
Group=immich
EnvironmentFile=/etc/sysconfig/immich
WorkingDirectory=/usr/lib/immich/app
ExecStart=/usr/lib/immich/app/server/bin/start.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
