[Unit]
Description=immich photo and video management machine learning
Documentation=https://immich.app/docs/overview/introduction
After=postgresql.service valkey.service
Requires=postgresql.service valkey.service

[Service]
Type=simple
User=immich
Group=immich
Environment=IMMICH_HOST=0.0.0.0
Environment=IMMICH_PORT=3003
EnvironmentFile=/etc/sysconfig/immich
WorkingDirectory=##PY_SITELIB##/app
ExecStart=##PY_SITELIB##/app/start.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
